<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>    
    <session-factory>  
        <!--property name="hibernate.connection.datasource">java:jboss/datasources/ubiCropperDS</property-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>   
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.show_sql">true</property>
        
        
        <property name="hibernate.max_fetch_depth">2</property>
       
        <!-- Mapped Classes 
        <mapping class="eu.linda.analytics.repository.model.Algorithm"/>   
        <mapping class="eu.linda.analytics.repository.model.Analytics"/>   
        <mapping class="eu.linda.analytics.repository.model.Category"/>   
        <mapping class="eu.linda.analytics.repository.model.Params"/>   
     
   -->

    </session-factory>    
</hibernate-configuration>

<!--
   
        Direct JDBC
        <property name='connection.driver_class'>com.mysql.jdbc.Driver</property>
        <property name='connection.url'>jdbc:mysql://localhost:3306/ishelleana</property>
        <property name='connection.username'>root</property>
        <property name='connection.password'>1q2w3e</property>
        <property name='dialect'>org.hibernate.dialect.MySQLDialect</property>  
        
        DataSource
        <property name="hibernate.connection.datasource" value="java:jboss/datasources/TestDS" />
-->